<form name="create" role="form">

    <p>
    <label for="name">Freeform Name:</label>
    <input type="text" name="name" ng-model="freeform.name" class="" required />
    </p>

    <p>
    <label for="content">Content:</label>
    <textarea name="content" ng-model="freeform.content" class="" required></textarea>
    </p>

    <div class="hidden">
    <input type="text" name="object" ng-model="object" ng-init="object='freeform'" />
    <input type="text" name="action" ng-model="action" ng-init="action='create'" />
    </div>
    <button ng-disabled="progress.active()" ng-click="submit(create)">Submit</button>

</form>
