<div name="edit" role="form">
<!-- Changing the above element to a form hides all the edit fields -->
<h2>Project Meta</h2>
<div class="row">
        <div class="large-6 columns">
            <div class="row">
                <form name="metaForm" novalidate class="simple-form">
                    <div ng-repeat="(key, value) in edit_meta.meta">
                    <div class="large-12 columns">
                        <label for="{{key}}">{{key}}
                            <input type="text" name="{{key}}" value="{{value}}" />
                        </label>
                    </div>
                    </div>
            </div>
        </div> 
        <div class="large-6 columns">
            <code>
                <p ng-repeat="(key, value) in edit_meta.meta">
                    &lt;meta name="{{key}}" value="{{value}}" /&gt;
                </p>
            </code>
        </div>
    </div>
    <div class="hidden">
    <input type="text" name="object" ng-model="object" ng-init="object='project'" />
    <input type="text" name="action" ng-model="action" ng-init="action='edit'" />
    </div>
    <button ng-disabled="progress.active()" ng-click="submit(edit)">Submit</button>
</form>
