<div name="edit" role="form">
<!-- Changing the above element to a form hides all the edit fields -->
<div class="row">
        <div class="large-6 columns">
            <div class="row">
<h2>Project Meta</h2>
                <form name="metaForm" novalidate class="simple-form" ng-repeat="meta in edit_meta.meta">
                    <div class="large-12 columns">
                        <label for="{{meta.name}}">{{meta.name}}
                            <input type="text" name="{{meta.name}}" value="{{meta.data}}" />
                        </label>
                    </div>
                </form>
            </div>
        </div> 
        <div class="large-6 columns">
            <code>
                <p ng-repeat="meta in edit_meta.meta">
                    &lt;meta name="{{meta.name}}" value="{{meta.data}}" /&gt;
                </p>
            </code>
        </div>
    </div>
    <div class="hidden">
    <input type="text" name="object" ng-model="object" ng-init="object='project'" />
    <input type="text" name="action" ng-model="action" ng-init="action='edit'" />
    </div>
    <button ng-disabled="progress.active()" ng-click="submit(edit)">Submit</button>
</form>
